html {
  height: 100%;
}
body {
  background-color: #003049;
}

p {
  position: absolute;
  color: #cfcfcf;
  font-family: 'Lato';
  font-size: 22px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div img {
  position: absolute;
  max-width: 50%;
  max-height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
