body {
    background-color: #161925;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li,button {
    font-family: 'Lato';
    color: #DAD6D6;
  }
  a{
    color: #00F6ED;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #454955;
    padding: 0;
    text-align: right;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  ul.topheader {
    background-color: #161925;
    padding: 0;
    text-align: left;
  }
  ul.topheader li{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
  }
  ul.topheader img{
    height: 20%;
    width: 40%;
  }
  footer{  
    text-align: center;
    color: #454955;
    font-size: 14px;
    padding: 20px;
  }
  .content {
    background-color: #161925;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #B92F2F;
  }
  .button{
    background-color: #454955;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato';
}